{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'women/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'women/images/favicon.ico' %}" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
{% block mainmenu %}
    <div class="header">
        <ul class="mainmenu">
            <li class="logo"><a href="#"><div class="logo">Logo</div></a></li>
            {% for m in menu %}
                {% if not forloop.last %}
                    <li><a href="#">{{ m.title }}</a></li>
                {% else %}
                    <li class="last"><a href="#">{{ m.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock mainmenu %}

{% block content %}
{% endblock %}

</body>
</html>