{% load static %}
{% load women_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'women/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'women/images/favicon.ico' %}" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
{% block mainmenu %}
    <div class="header">
        <ul class="mainmenu">
            <li class="logo"><a href="{% url 'home' %}"><div class="logo">Logo</div></a></li>
            <li><a href="{% url 'add_post' %}">Add post</a></li>
            {% for m in menu %}
                {% if not forloop.last %}
                    <li><a href="#">{{ m.title }}</a></li>
                {% else %}
                    <li class="last"><a href="#">{{ m.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock mainmenu %}

<aside class="sidebar">
    {% getcats filter=1 %}
    <ul>
{% if cat_selected == 0 %}
        <li class="selected">All categories</li>
{% else %}
        <li><a href="{% url 'home' %}">All categories</a></li>
{% endif %}

{% for c in cats %}
{% if c.women__count > 0 %}
    {% if c.pk == cat_selected %}
        <li class="selected">All categories</li>
    {% else %}
        <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
    {% endif %}
{% endif %}
{% endfor %}
    </ul>
</aside>

{% block content %}
{% endblock %}

</body>
</html>