{% load static %}
{% load women_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'women/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'women/images/favicon.ico' %}" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
{% block mainmenu %}
    <div class="header">
        <ul class="mainmenu">
            <li class="logo"><a href="{% url 'home' %}"><div class="logo">Logo</div></a></li>
            <li><a href="{% url 'add_post' %}">Add post</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>

            {% if request.user.is_authenticated %}
                <li class="last">{{ user.username }} | <a href="{% url 'logout' %}">LogOut</a></li>
            {% else %}
                <li class="last"><a href="{% url 'register' %}">Register!</a> | <a href="{% url 'login' %}">Login!</a></li>
            {% endif %}
{#            Why isn't this work?.. This is very strange#}
{#            {% for m in menu %}#}
{#                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>#}
{#            {% endfor %}#}
        </ul>
    </div>
{% endblock mainmenu %}

<aside class="sidebar">
{# all block Sidebar cached for 60 seconds #}
{% load cache %}

    {% getcats filter=1 %}
    <ul>
 {% cache 60 sidebar %}
    {% if cat_selected == 0 %}
            <li class="selected">All categories</li>
    {% else %}
            <li><a href="{% url 'home' %}">All categories</a></li>
    {% endif %}

    {% for c in cats %}
    {% if c.women__count > 0 %}
        {% if c.pk == cat_selected %}
            <li class="selected">{{ c.name }}</li>
        {% else %}
            <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
        {% endif %}
    {% endif %}
    {% endfor %}
{% endcache %}
    </ul>
</aside>

{% block content %}
{% endblock %}

{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
            <li class="page-num">
                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            </li>
        {% endif %}

        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-num page-num-selected">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <li class="page-num">
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-num">
                <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

</body>
</html>